*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    background-color: #132E32;
    height: 100px;
    width: 100%;
    color: white;
    font-size: 3rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-left: 250px; */
    /* border: 2px solid white; */
    /* border-radius: 2px; */
}

.contact{
    position: fixed;
    right: 0px;
    top: 25px;
    /* bottom: 0px; */
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
.banner{
    display: flex;
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 0px;
/* padding-top: px; */
border: 2px solid white;
border-radius: 2px;
height: 60px;

}

.logo{
    /* padding-left: 200px;
    padding-top: 25px;
    padding-right: 0px; */
    margin-left: 100px;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 25px;
    border: 2px solid white;
    border-radius: 2px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 


/*address*/
.address{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-top: 2px solid black;
    /* margin-bottom: 0px; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#F7FFDD;
}